.order-success {
  margin-right: 300px;
  text-align: center;
}

.order-details {
  /* padding: 20px; */
}

.order-success img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-right: 100px;
}

.order-details p {
  margin: 10px;
}

@media (max-width: 460px) {
  .order-success {
    margin-left: 300px;
    min-width: 400px;
  }
  .order-success img {
    width: 200px;
  }
}
